.main > h1{
    text-align: center;
}
.main > img{
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    transition: .7s all;
}
.main > img:hover{
    transform: scale(1.01);
    transition: .7s all;
}
.main > p{
    width: 100%;
    text-align: justify;
    color: rgb(44, 44, 44);
}